<h1>Convert <%= @curr_result %></h1>

<p>Go <a href="/forex">back</a>.</p>

<ul>
  <% @results_array.each do |curr| %>
    <li>
      
      <a href= "/forex/<%= @curr_result%>/<%= curr %>">
        Convert 1 <%= @curr_result %> to <%= curr %>
    </li>
  <% end %>
</ul>